.bar-button {
  position: fixed;
  top:2%;
  right: 2%;
  z-index: 1;
  //width: 100%;

}
.NavbarTop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 7%;
  width: 100%;
  background-size: cover;
  background-color: #f22c4b;
}